

<link type="text/css" rel="stylesheet" href="app/small-preview/small-preview.css"> <!-- small preview component css -->


<div class="small-preview">
	<a href="">
    	<img class="preview-thumb" src="assets/img/small-preview.jpg">
        <h5>New Enforcement for Resolution No. 10/2015</h5>
    </a>
</div>

<div class="small-preview">
	<a href="">
    	<img class="preview-thumb" src="assets/img/small-preview-2.png">
        <h5>GDPR formally adopted. What you need to know.</h5>
    </a>
</div>
 

