
.small-preview{
	width:50%;
	padding:0 7px;
	margin:0 0 20px;
	}
	
.small-preview .preview-thumb{
	width:100%;
	max-height:120px;
	object-fit: cover;
	margin:0 0 10px;
	}
	
.small-preview h5{
	margin:0 0 0;
	font-weight:400;
	color:#232323;
	}		