

<link type="text/css" rel="stylesheet" href="app/user-tag/user-tag.css"> <!-- user tag component css -->


<a href="" class="user-tag"> Data Privacy <span class="close-btn"></span> </a>
<a href="" class="user-tag"> Data Protection <span class="close-btn"></span></a>
<a href="" class="user-tag"> Data Securitization <span class="close-btn"></span></a>
<a href="" class="user-tag"> Data Guidance <span class="close-btn"></span></a>
 

