
.user-tag{
	min-width:120px;
	height:40px;
	padding:10px 28px 10px 15px;
	margin:8px;
	line-height:18px;
	border-radius:4px;
	border:1px solid #dad9d9;
	background-color:#ffffff;
	color:#626262;
	font-size:14px;
	font-weight:400;
	text-transform:capitalize;
	position:relative;
	}
	
.user-tag .close-btn{
	position:absolute;
	right:10px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	}
	
.user-tag .close-btn:before{
	content:'\f00d';
	font-family: FontAwesome;
	font-size: 12px;
	color: #626262;
	}		