
.nextpost-container{
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	}

.next-article{
	background-color:#f5f5f5;
	border-top:1px solid #dad9d9;
	border-bottom:1px solid #dad9d9;
	padding:15px;
	}
	

.nextpost-thumb{
	max-width:72px;
	}
	
.nextpost-content{
	width:calc(100% - 72px);
	padding:0 16px;
	}
	
.nextpost-content h6{
	margin:0;
	line-height:18px;
	font-weight:400;
	font-size:16px;
	color:#232323;
	}
	
.nextpost-content h6 a{
	color:inherit;
	}			

.next-post{
	position:relative;
	display:block;
	margin:0 0 5px;
	font-size:15px;
	}
	
.next-post:after{
	position:absolute;
	right:0;
	top:0;
	font-size:20px;
	content:'\f107 ';
	font-family: FontAwesome;
	}									