

<link type="text/css" rel="stylesheet" href="app/next-article/next-article.css"> <!-- next article component css -->


<div class="nextpost-container">
<!--next article-->
<div class="row space-between next-article">
	
    <!--article-thumb-->
		<div class="nextpost-thumb"><img src="assets/img/next-article-pic.jpg" alt=""></div>
    <!--article-thumb-->
    
    <!--nextpost-content-->
		<div class="nextpost-content">
        	
            <a href="" class="next-post text-red text-semibold">  Next </a>
            
            <h6><a href="">Marc Whales. Important Lessons from ignoring warnings</a></h6>
            
        </div>
    <!--nextpost-content-->
    	 
</div>
<!--next article-->
</div>
 

