

<link type="text/css" rel="stylesheet" href="app/article-rating/article-rating.css"> <!-- article rating component css -->

	
<div class="row space-between article-rating">
	
    <span class="rating-title">Rate:</span>
    
    <div class="rating">
    
    	<a href="" class="rating-star">1</a>
        <a href="" class="rating-star">2</a>
        <a href="" class="rating-star">3</a>
        <a href="" class="rating-star active">4</a>
        <a href="" class="rating-star">5</a>
        
    </div>
     
</div>
 

