
.article-rating{
	padding:17px 25px;
	}
	
.article-rating .rating-title{
	color: #232323;
	font-size: 15px;
	line-height: 22px;
	display:inline-block;
	padding: 11px 0;
	}
	
.article-rating .rating{}

.rating .rating-star{
	display:inline-block;
	width: 45px;
	height: 45px;
	font-size: 15px;
	color:#232323;
	text-align:center;
	line-height:45px;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	margin:0 2px;
	}
	
.rating .rating-star:first-child{
	margin-left:0;
	}
	
.rating .rating-star:right-child{
	margin-right:0;
	}		
	
.rating .rating-star.active{
	background-color: #232323;
	border-color:#232323;
	color:#fff;
	}		
	
		