

<link type="text/css" rel="stylesheet" href="app/article-tag/article-tag.css"> <!-- article tag component css -->


<!--article-tag-container-->
<div class="row tag-container">
	
    <!--article-tag-->
         <a href="" class="article-tag">Data Protection</a>
    <!--article-tag-->
    
     <!--article-tag-->
         <a href="" class="article-tag">Surveillence</a>
    <!--article-tag-->
    
</div>
<!--article-tag-container-->
 

