

.article-tag{
	background-color:#ffffff;
	font-size: 15px;
	color: #232323;
	text-transform:capitalize;
	padding:5px 7px;
	margin-right:10px;
	}
	
.tag-container .article-tag:last-child{
	margin-right:0;
	}									