

<link type="text/css" rel="stylesheet" href="app/article-content/article-content.css"> <!-- article content component css -->

	
<div class="row column article-content">
	
    <div ng-include="'app/article-body/article-body.html'" include-replace></div> <!-- [article body] -->
    
    <div ng-include="'app/article-rating/article-rating.html'" include-replace></div> <!-- [article rating] -->
    
</div>
 

