

<link type="text/css" rel="stylesheet" href="app/search-result/search-result.css"> <!-- search result component css -->


 <!--search-row-->
    <div class="search-row row space-between">
        <div class="search-thumb"><img src="assets/img/MarcWhales.jpg" alt="MarcWhales"></div>
        <div class="search-main"><h5> <a href=""> Marc Whales. Important Lessons from ignoring warnings </a> </h5> </div>
    </div>
<!--search-row-->

<!--info-row-->
    <div class="search-row row space-between last">
        <div class="search-thumb"><img src="assets/img/bookmarks.png" alt="bookmarks"></div>
        <div class="search-main"><h5> <a href=""> Important Import Changes </a> </h5> </div>
    </div>
<!--info-row-->
 

