

.search-row{
	padding:15px 0;
	border-bottom:1px solid  #dad9d9;
	position:relative;
	}
	
.search-row:after{
	content:'\f105';
	font-family: FontAwesome;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-13px;
	font-size:27px;
	color:#9c9b9b;
	}
	
.search-row.last{
	border-bottom:0;
	padding-bottom:0;
	}		
	
.search-row .search-thumb{
	max-width:72px;
	}
	
.search-row .search-main{
	width:calc(100% - 72px);
	padding:0 20px;
	}
	
.search-main h5{
	color:#232323;
	font-weight:400;
	margin:0;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	}
	
.search-main h5 a{
	color:inherit;
	}