

<link type="text/css" rel="stylesheet" href="app/large-preview/large-preview.css"> <!-- learge preview component css -->

<div class="large-preview row column end" style="background-image:url(assets/img/learge-preview.jpg)">
	
    <div class="large-preview-content text-white">	
    	
        <div ng-include="'app/article-tag/article-tag.html'" include-replace></div>
        
        <a class="text-white" href="">
            <h2>Constitution amendments for The Republic of Azerbaijan</h2>
            <p>Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum...</p> 
        </a>	
        
    </div>
    
</div>
 

