
.large-preview{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	position:relative;
	min-height:280px;
	margin:0 15px 15px;
	}
	
.large-preview:before{
	content:'';
	width:100%;
	height:100%;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.82) 100%);
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	}
	
.large-preview-content{
	position:relative;
	z-index:100;
	padding:20px;
	font-size:14px;
	}
	
.large-preview-content h2{
	margin:10px 0 7px;
	font-weight:400;
	}
	
.large-preview-content p{
	margin:0;
	line-height:18px;
	}				