	
.ac-content{
	padding:30px 0;
	}	

.settings-row{
	border-top:1px solid #b4b4b4;
	border-bottom:1px solid #b4b4b4;
	padding:7px 20px;
	}
	
.settings-row .features-title{
	color: #232323;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
	padding:2px 0;
	}
	
.toggle-switch{
	background-color:#b4b4b4;
	width:40px;
	height:24px;
	border-radius:12px;
	position:relative;
	overflow:hidden;
	}
	
.toggle-switch input[type="checkbox"]{
	display:block;
	width:40px;
	height:24px;
	margin:0;
	position:relative;
	z-index:100;
	opacity:0;
	cursor:pointer;
	}		
	
.toggle-switch input[type="checkbox"] + label{
	display:block;
	background-color:#fff;
	width:18px;
	height:18px;
	border-radius:9px;
	text-indent:-9999px;
	position:absolute;
	left:2px;
	top:3px;
	z-index:99;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	}
	
.toggle-switch input[type="checkbox"] + label + .switch-bg{
	background-color:#b4b4b4;
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:98;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	}
	
.toggle-switch input[type="checkbox"]:checked + label{
	left:calc(100% - 20px);
	}
	
.toggle-switch input[type="checkbox"]:checked + label + .switch-bg{
	background-color:#ee3135;
	}							