

*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,img,a img{
	border:0;
	outline:0;
	text-decoration:none;
}

img{
	image-rendering: -webkit-optimize-contrast;
	vertical-align:middle;
	max-width:100%;
	height:auto;
}

a{
	color:#424242;
}

p{
	line-height: 21px;
}

h1{ 
	font-size: 26px;
}

h2{
	font-size:22px;
}

h5{
	font-size:18px;
	}

h6{
	font-size:16px;
}

::-webkit-input-placeholder{ opacity:1;}
::-moz-placeholder{ opacity:1;}
:-ms-input-placeholder{ opacity:1;}
:-moz-placeholder{ opacity:1; }
	

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* Primary Styles
---------------------------------*/
body {
	background-color:#fff;
	font-family:-apple-system,BlinkMacSystemFont,sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#424242;
	margin:0;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}


/* row
---------------------------------*/
.row{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	}	
	
.row.reverse{
	-webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
	}
	
.row.column{
	-webkit-flex-direction: column;
    flex-direction: column;
	}

.row.start{
	 -webkit-justify-content: flex-start;
    justify-content: flex-start;
	}
	
.row.end{
	 -webkit-justify-content: flex-end;
    justify-content: flex-end;
	}					

.row.center{
	-webkit-justify-content: center;
    justify-content: center;
	}
	
.row.space-between{
	 -webkit-justify-content: space-between;
    justify-content: space-between;
	}
	
	
/* text transform
---------------------------------*/	
.text-uppercase{ text-transform:uppercase;}
.text-capitalize{ text-transform:capitalize;}
.text-lowercase{ text-transform:lowercase;}


/* text alignment
---------------------------------*/
.text-semibold{ font-weight:500;}
.text-bold{ font-weight:700;}		
	
/* text alignment
---------------------------------*/
	
.text-center{ text-align:center;}	
.text-left{ text-align:left;}
.text-right{ text-align:right;}


/* colour vision
---------------------------------*/
	
.text-yellow{ color:#fec328;}	
.text-black{ color:#424242;}
.text-light-black{ color:#6d6e71;}
.text-white{ color:#fff;}	
.text-red{ color:#e71829;}
.text-blue{ color:#1d6ea4;}	

/* bg colour vision
---------------------------------*/
	

.bg-white{ background-color:#fff;}	
.bg-gray{ background-color:#f5f5f5;}	



/* inputs style
---------------------------------*/

.input-style{
	background-color: rgba(255, 255, 255, 0.1);
	height: 40px;
	border-radius:4px;
	border: 1px solid #dad9d9;
	outline:0;
	font-family:-apple-system,BlinkMacSystemFont,sans-serif;
	color: #626262;
	font-size:14px;
	font-weight:300;
	padding:10px;
	line-height:18px;
	}
	
textarea.input-style{
	height:auto;
	}
	
.input-btn{
	background-color:#fff;
	padding:6px 25px;
	border-radius:5px;
	border:1px solid #ee3135;
	outline:0;
	color: #e71829;
	font-family:-apple-system,BlinkMacSystemFont,sans-serif;
	font-size:14px;
	font-weight:300;
	cursor:pointer;
	}
	
/* inner container style
---------------------------------*/	
.inner-container{
	margin:64px 0 51px;
	}
	
/* page header style
---------------------------------*/		
.page-header{
	background-color:#f8f8f8;
	width:100%;
	height:64px;
	border-bottom:1px solid rgba(179, 179, 179, 0.35);
	position:fixed;
	left:0;
	top:0;
	z-index:999;
	padding:19px 15px;
	}
	
.back-btn{
	max-width:20%;
	font-size: 17px;
	font-weight:400;
	margin-top:-10px;
	}
	
.back-btn:before{
	content:'\f104 ';
	font-family: FontAwesome;
	font-size:28px;
	position:relative;
	top:3px;
	}		
	
.page-header .page-title{
	margin:0;
	font-weight:600;
	font-size:16px;
	max-width:55%;
	margin:3px auto 0;
	left:50%;
	position: absolute;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	}
	
.tools{
	max-width:25%;
	}

.tools .tools-icon{
	color:#8e8e8e;
	margin:0 10px;
	font-size:20px;
	}
	
.tools .tools-icon.active{
	color:#ee3135;
	}	
	
.tools .tools-icon:first-child{
	margin-left:0;
	}
	
.tools .tools-icon:last-child{
	margin-right:0;
	}				
	

/* page navigation style
---------------------------------*/		
.page-navigation{
	background-color:#fff;
	width:100%;
	border-top:1px solid rgba(179, 179, 179, 0.35);
	padding:7px 30px;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	}
	
.page-navigation ul{
	padding:0;
	margin:0;
	list-style:none;
	}
	
.page-navigation ul li{
	text-align:center;
	line-height:14px;
	}	
	
.page-navigation ul li a{
	font-size:11px;
	font-weight:400;
	text-transform:capitalize;
	color:#797979;
	}
	
.page-navigation ul li.active a{
	color:#ee3135;
	}	
	
.page-navigation ul li a .fa{
	display:block;
	font-size:20px;
	}
	
	
/* search holder style
---------------------------------*/	
	
.search-holder{
	position:relative;
	}

.search-holder button[type="submit"]{
	background:transparent;
	border:0;
	outline:0;
	cursor:pointer;
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	color:#8e8e93;
	font-size:13px;
	padding:0;
	width:33px;
	height:38px;
	}
	
.search-holder input[type="text"]{
	background-color:transparent;
	width:100%;
	z-index:100;
	padding:10px 10px 10px 33px;
	color:#8e8e93;	
	}


/* inside container style
---------------------------------*/		
.inside-container{
	min-height:calc(100vh - 115px);
	}
	
.inside-content{
	padding:15px;
	}

/* Short description style
---------------------------------*/		
.short-desc{
	padding:15px 24px;
	color:#999999;
	font-size:14px;
	font-weight:400;
	}								

										

	

