

.login-wrap{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	position:relative;
	}
	
.login-wrap:before{
	content:'';
	background-color: rgba(25, 25, 25, 0.25);
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	}
	
.login-content{
	min-height:calc(100vh - 60px);
	position:relative;
	z-index:100;
	padding:15px;
	}
	
.login-logo{
	max-width:112px;
	margin:0 auto 7px;
	}
	
.site-caption{
	font-family: 'helvetica_neueregular';
	font-size: 18px;
	letter-spacing:1px;
	margin:0 0 76px;
	}
	
.login-main{}

.login-main form{
	margin:0 0 30px;
	}

.login-main input[type="email"],
.login-main input[type="text"],
.login-main input[type="password"]{
	width:100%;
	height:50px;
	border:0;
	outline:0;
	padding:10px 20px;
	line-height:30px;
	color:#6d6e71;
	font-family: 'helvetica_neueregular';
	font-size:15px;
	text-transform:capitalize; 
	margin:0 0 1px;
	}
	
.login-main ::-webkit-input-placeholder { color:#6d6e71;}
.login-main ::-moz-placeholder { color:#6d6e71;}
.login-main :-ms-input-placeholder { color:#6d6e71;}
.login-main :-moz-placeholder { color:#6d6e71; }

.login-main input[type="password"]{
	margin:0 0 10px;
	}
	
.login-main input[type="submit"]{
	width:100%;
	height:50px;
	background:rgba(19, 19, 19, 0.70);
	border:1px solid #5c5c5c;
	outline:0px;
	color:#fff;
	font-family: 'helvetica_neueregular';
	font-size:15px;
	font-weight:500;
	text-transform:capitalize;
	cursor:pointer;
	}
	
.new-account{
	display:block;
	margin-bottom:15px;
	}
	
.footer-wrap{
	padding:12px 30px;
	}
	
.copyright{
	width:calc(100% - 110px);
	padding:8px 0;
	}
	
.footer-logo{
	max-width:100px;
	}											