
.profile-wrap{
	padding:20px 30px;
}

.profile-head{
	margin:0 0 30px;
}

.profile-thumb{
	max-width:72px;
	margin:0 auto 10px;
}

.profile-thumb img{
	width:72px;
	height:72px;
	display:block;	
	object-fit: cover;
}

.profile-title{
	color:#232323;
	font-size:18px;
	font-weight:400;
}

.profile-login{}

.profile-inputs{
	margin:0 0 20px;	
}

.profile-inputs .fa{
	font-size:20px;
	color:#b0b0b0;
	margin:8px 0;
}

.profile-inputs .input-style{
	width:calc(100% - 33px);	
}

.profile-inputs ::-webkit-input-placeholder{ opacity:1; color:#d1d0d0;}
.profile-inputs ::-moz-placeholder{ opacity:1; color:#d1d0d0;}
.profile-inputs :-ms-input-placeholder{ opacity:1; color:#d1d0d0;}
.profile-inputs :-moz-placeholder{ opacity:1; color:#d1d0d0;}


.upload-photo{
	width:72px;
	height:72px;
	border:1px solid #979797;
	border-radius:36px;
	position:relative;
	overflow:hidden;
	}
	
.upload-photo input[type="file"]{
	width:72px;
	height:72px;
	display:block;
	opacity:0;
	position:relative;
	z-index:100;
	cursor:pointer;
}

.upload-photo input[type="file"] + label{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	z-index:99;
	text-align:center;
	font-weight:400;
	color: #1b1b1b;
	font-size: 10px;
	}
	
.upload-photo input[type="file"] + label .fa{
	color:#232323;
	font-size:15px;
	margin:0 0 4px;
	}		
	
	