	
.profile-info{
	padding:13px 15px;
	position:relative;
	border-bottom:1px solid #dad9d9;
	}
	
.profile-info:after{
	content:'\f105';
	font-family: FontAwesome;
	position:absolute;
	right:15px;
	top:50%;
	font-size:30px;
	color:#9c9b9b;
	margin-top:-18px;
	}	

.profile-pic{
	max-width:72px;
	}
	
.profile-pic img{
	width:72px;
	height:72px;
	object-fit: cover;
	border-radius:36px;
	}
	
.profile-infocont{
	width:calc(100% - 72px);
	padding:14px 20px;
	}
	
.profile-infocont .profile-name{
	display:block;
	font-size: 18px;
	color: #232323;
	font-weight:400;
	margin:0 0 3px;
	}
	
.profile-infocont .profile-link{
	font-size:15px;
	color: #232323;
	font-weight:300;
	}
	
.settings-nav{}

.settings-nav ul{
	padding:0;
	margin:0;
	list-style:none;
	}
	
.settings-nav ul li{
	position:relative;
	border-bottom:1px solid #dad9d9;
	padding:20px 40px 20px 20px;
	}
	
.settings-nav ul li:after{
	content:'\f105';
	font-family: FontAwesome;
	position:absolute;
	right:15px;
	top:50%;
	font-size:30px;
	color:#9c9b9b;
	margin-top:-18px;
	}	
	
.settings-nav ul li a{
	font-weight:400;
	color:#232323;
	font-size:18px;
	text-transform:capitalize;
	}								

