
.article-body{
	padding:25px;
	position:relative;
	}
	
.article-body:after{
	content:'';
	display:block;
	background-color:#dad9d9;
	width:calc(100% - 50px);
	height:1px;
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	}
	
.article-body.border-none:after{
	display:none;
	}	
	
.article-body h1{
	margin:0 0 20px;
	color: #232323;
	line-height:29px;
	}		
	
.article-body p{
	margin:0 0 25px;
	}
	
.article-body p:last-of-type{
	margin-bottom:0;
	}
	
	
.details{
	font-size:15px;
	color:#232323;
	margin:0 0 10px;
	}
	
.legal{
	border-top: 1px solid #dad9d9;
	border-bottom: 1px solid #dad9d9;
	font-size: 15px;
	line-height:22px;
	padding:7px 0;
	margin:0 0 20px;
	}
	
.mailto-btn{
	display:inline-block;
	margin:0 5px;
	color:#232323;
	font-size:19px;
	}							