

<link type="text/css" rel="stylesheet" href="app/article-body/article-body.css"> <!-- article body component css -->


<!--article-body-->	
<div class="article-body border-none">
	
    <h1> Constitution amendments for The Republic of Azerbaijan </h1>
    
    <div class="details">
   		 Posted by <a href="" class="text-red text-capitalize text-semibold">Mike Hince</a> <a href="mailto:mike@foundationlab.co" class="mailto-btn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>
    
    <div class="legal">
    	Jurisdiction: <span class="text-blue text-semibold">UK, Denmark, USA, France, Spain, Bel</span>
    </div>
    
    
    <p>Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. <br> <a href="#" class="text-red">Read More…</a></p>
   
    
    
</div>
<!--article-body--> 

