

<link type="text/css" rel="stylesheet" href="app/article-image/article-image.css"> <!-- article image component css -->

	
<!--article image-->
  	<div class="article-image row column end" style="background-image:url(assets/img/article-image-1.jpg)">
         
    	<div ng-include="'app/article-tag/article-tag.html'" include-replace></div>
        	
    </div>
<!--article image-->
 

