

<link type="text/css" rel="stylesheet" href="app/tags-container/tags-container.css"> <!-- tags container component css -->


<div class="tags-container">

	<div class="tag-holder bg-gray">
    	<div class="row">
    		<div ng-include="'app/user-tag/user-tag.html'" include-replace></div> <!-- [ user tag ] -->
        </div>
    </div>
    
    <div ng-include="'app/addButton/addButton.html'" include-replace></div> <!-- [ addButton ] -->
	
</div> 
 

