

<link type="text/css" rel="stylesheet" href="app/addButton/addButton.css"> <!-- addButton component css -->

<form action="" method="post">
	<div class="add-btn">
		<input type="text" placeholder="Add a Tag and press RETURN">
    </div>
</form>
 
