

.add-btn{
	padding-left:33px;
	position:relative;
	height: 40px;
	border-radius: 4px;
	border:1px solid #dad9d9;
	margin:0 15px;
	}
	
.add-btn:before{
	content:'+';
	font-size:20px;
	color:#8e8e93;
	font-weight:400;
	position:absolute;
	left:10px;
	top:50%;
	transform:translateY(-50%);
	transform:translateY(-50%);
	}
	
.add-btn input[type="text"]{
	display:block;
	width:100%;
	height:38px;
	border:0;
	outline:0;
	padding:10px 10px 10px 0;
	font-family:-apple-system,BlinkMacSystemFont,sans-serif;
	color: #8e8e93;
	font-size:14px;
	font-weight:400;
	}		