
.navigation{
	padding:15px;
	overflow:auto;
	}

.navigation ul{
	width:420px;
	padding:0;
	margin:0;
	list-style:none;
	}
	
.navigation ul li{
	margin:0 13px;
	}
	
.navigation ul li:first-child{
	margin-left:0;
	}
	
.navigation ul li:last-child{
	margin-right:0;
	}
	
.navigation ul li a{
	font-family: "helvetica_neueregular";
	font-size: 16px;
	color:#606060;
	text-transform:capitalize;
	}
	
.navigation ul li.active a{
	color:#ee3135;	
	}					
