

<link type="text/css" rel="stylesheet" href="app/navigation/navigation.css"> <!-- navigation component css -->

<div class="navigation">
	<ul class="row">
    	<li class="active"><a href="">All</a></li>
        <li><a href="">Data Breach</a></li>
        <li><a href="">Data Protection</a></li>
        <li><a href="">Surveillence</a></li>
    </ul>
</div>




 

